from rest_framework.routers import DefaultRouter

from .views import {{ model_name }}ViewSet

router = DefaultRouter()
router.register(r"{{ url_prefix }}", {{ model_name }}ViewSet, basename="{{ url_prefix }}")

urlpatterns = router.urls
